@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.AboutUs {
    margin-top: 0vw;
    display: block;
    /* backdrop-filter: blur(10px); */
    
    /* border-color: red;
    border-style: solid; */
  }
  
  .text1 {
    margin-left: 35%;
    margin-top: 0%;
    font-size: 7vw;
    font-family: var(--font-inder);
    color: #e0c00b;
    width: 29.63vw;
    /* border-color: red;
    border-style: solid; */
  }
  
  .text2 {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    /* display: absolute; */
    position: absolute;
    margin-top: 5vw;
    color: #FFFFFF;
    text-shadow: -8px 4px 4px #000;
    font-family: Inter;
    /* font-size: 48px; */
    font-size: 2vw;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-family: 'Times New Roman', 'Times', 'serif';
    z-index: 2;
  }