

 
/* body {
    background: #000000;
    min-height: 100vh;
 } */
 
 
   @import url('https://fonts.googleapis.com/css2?family=Yantramanav&display=swap');
   @import 'tailwindcss/base';
   @import 'tailwindcss/components';
   @import 'tailwindcss/utilities';
   
 
/*  
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
 } */
 .card{
   position: static;
   /* border-color: red;
   border-style: solid;
   border-width: 1vw; */
   height: 125vw;
 }
 .bgg{
   position:fixed;
   top: 0vw;
   /* margin-top: 400vw; */
   z-index:-3;
   width: 98%;
   /* margin-top: 10vh; */
   margin-left: 1.5vh;
   margin-right: 1.5vh;
 
   filter: grayscale(30%) brightness(50%);
   
 }

 
 .com1 {
     position: relative; 
    margin-left: 13vw;
    /* margin-top: 3vw; */
    width: 25vw;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 4vw;
 }
 
 .com1:hover {
    width: 80vw;
    height: 35vw;
    transition-delay: 0.5s;
    cursor: pointer;
 }
 
 .com1 .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
 
 }
 
 .com1 .circle::before {
    content: '';
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background: transparent;
    transition: 0.5s, background 0.5s;
    transition-delay: 0.3s, 0.8s;
    border: #0cb0eb;
    border-style: solid;
    border-width: 0.5vw;
 }
 
 .com1:hover .circle::before {
    width: 100%;
    height: 100%;
    border-radius: 4vw;
    background: linear-gradient(90deg,  #1a3d61,   /* Darkest shade */
    #255c8d,
    #3089b9,
    #3ab5e5,
    #64c3eb,
    #8ed1f1,
    #a7d9f7) ;
    border-width: 0.3vw;
    cursor: pointer;
    
 }
 
 .logo1 {
    position: relative;
    width: 17.5vw;
    transition: 0.7s;
    transition-delay: 0.3s;
    padding-left: 1vw;
    padding-top: 1vw;
 }
 
 .logo2 {
    position: absolute;
    width: 30vw;
    height: 20vw;
    z-index: -1;
    right: 0;
    padding-right: 1.4vw;
    margin-top: 10vw;
    margin-bottom: 10vw;
    border-radius: 4vw;
    opacity: 0;
 }
 
 
 
 .com1:hover .circle .logo1 {
    opacity: 0;
    transition: all 0.7s ease-out;
    cursor: pointer;
 }
 
 .com1:hover .circle .logo2 {
    opacity: 1;
    transition-delay: 0.6s;
    cursor: pointer;
 }
 
 .agenda{
    position: absolute;
    color:  #000000;
    font-family:'Yantramanav', sans-serif ;
    z-index: 4;
    left:0;
    margin-left: 3vw;
    top: 0;
    margin-top: 5vw;
    font-size: 1.75vw;
    opacity: 0;
    
 }
 
 .com1:hover .circle .agenda{
    opacity: 1;
    transition-delay: 0.6s;
    cursor: pointer;
 
    }
    
    .agendatext{
       position: absolute;
       color:white ;
       font-family: "Montserrat, sans-serif";
       z-index: -1;
       left: 0;
       top: 0;
       margin-top: 6vw;
       padding-left: 4vw;
       margin-left: 2vw;
       font-size: 2vw;
       opacity: 0;
       transform: scaleY(.9);
       width:45vw ;
    
    }
    .com1:hover .circle .agendatext{
       opacity: 1;
       transition-delay: 0.6s;
       cursor: pointer;
    
       }
 
       .button1{
          margin-top: 1vw;
          font-family:'Yantramanav', sans-serif ;
          font-size: 1.5vw;
          margin-left: 18vw;
          width: 11vw;
          height: 4vw;
          border-radius: 1vw;
          background-color: #3089b9;
          border-color: rgb(255, 255, 255);
          border-width: 0.2vw;
         
          
       
       }
       .button1:hover{
        cursor: pointer;
       }
       .btext{
          color: #ffffff;
       }
 
      
 /* Second-------------------------------------------------------------------------------------------------- */
       
 
 .com2 {
     position: relative; 
     margin-left: 65vw;
    margin-top: 3vw;
    margin-bottom: 2vw;
    width: 25vw;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 4vw;
 }
 
 .com2:hover {
    margin-left: 17vw;
    margin-right: 3vw;
    width: 80vw;
    height: 35vw;
    transition-delay: 0.5s;
    cursor: pointer;
 }
 
 .com2 .circle2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
 
 }
 
 .com2 .circle2::before {
    content: '';
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background: transparent;
    transition: 0.5s, background 0.5s;
    transition-delay: 0.3s, 0.8s;
    border: #0cb0eb;
    border-style: solid;
    border-width: 0.5vw;
 }
 
 .com2:hover .circle2::before {
    width: 100%;
    height: 100%;
    border-radius: 4vw;
    background: linear-gradient(270deg,  #1a3d61,   /* Darkest shade */
    #255c8d,
    #3089b9,
    #3ab5e5,
    #64c3eb,
    #8ed1f1,
    #a7d9f7) ;
    border-width: 0.3vw;
    cursor: pointer;
    
 }
 
 .logo12 {
    position: relative;
    width: 17.5vw;
    transition: 0.7s;
    transition-delay: 0.3s;
    padding-left: 1vw;
    padding-top: 1vw;
 }
 
 .logo22 {
    position: absolute;
    width: 30vw;
    height: 20vw;
    z-index: -1;
    left: 0;
    padding-left: 1.4vw;
    margin-top: 10vw;
    margin-bottom: 10vw;
    border-radius: 4vw;
    opacity: 0;
 }
 
 
 
 .com2:hover .circle2 .logo12 {
    opacity: 0;
    transition: all 0.7s ease-out;
    cursor: pointer;
 }
 
 .com2:hover .circle2 .logo22 {
    opacity: 1;
    transition-delay: 0.6s;
    cursor: pointer;
 }
 
 .agenda2{
    position: absolute;
    color:  #000000;
    font-family:'Yantramanav', sans-serif ;
    z-index: 4;
    margin-left: 20vw;
    top: 0;
    margin-top: 5vw;
    font-size: 1.75vw;
    opacity: 0;
    
 }
 
 .com2:hover .circle2 .agenda2{
    opacity: 1;
    transition-delay: 0.6s;
    cursor: pointer;
 
    }
    
    .agendatext2{
       position: absolute;
       color:white ;
       font-family: "Montserrat, sans-serif";
       z-index: -1;
       right: 0;
       margin-right: 5vw;
       top: 0;
       margin-top: 6.5vw;
       padding-left: 4vw;
       margin-left: 28vw;
       font-size: 2vw;
       opacity: 0;
       transform: scaleY(.9);
       width:45vw ;
       
    
    }
    .com2:hover .circle2 .agendatext2{
       opacity: 1;
       transition-delay: 0.6s;
       cursor: pointer;
    
       }
 
       .button12{
          
          font-family:'Yantramanav', sans-serif ;
          font-size: 1.5vw;
          margin-left: 15vw;
          width: 11vw;
          height: 4vw;
          border-radius: 1vw;
          background-color: #3089b9;
          border-color: rgb(255, 255, 255);
          border-width: 0.2vw;
          
       
       }
       .button12:hover{
        cursor: pointer;
       }
       .btext{
          color: #ffffff;
       }
 
       .legal{
          margin-left: 7vw;
       
       }
 
 
 
   