@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.com{
  margin-top: 10vw;
    height: 90vw;
    width: 100%;
    color: azure;
    background-repeat: no-repeat;
    display: flex ; 
    flex-direction: column;
    z-index: -2;
    /* border-color: yellow;
    border-style: solid;
    border-width: 5px;  */
    /* overflow-y: scroll;*/
    
}
.globe{
    /* top: 8vw; */
    /* margin-top: 50vw; */
    margin-left: 35vw;
    height: 25vw;
    width: 30%;
    filter: brightness(50%) grayscale(50%) ;
    scale: 1;
    /* border-color: red;
    border-style: solid;
    border-width: 5px; */
    z-index: -2;
    position: sticky ;
    /* opacity: 1; */
    /* margin-bottom: 1px; */

}
/* .com::-webkit-scrollbar {
    width: 0.1em;
  }
  
  .com::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  .com::-webkit-scrollbar-thumb {
    background-color: transparent; 
    border: none;
  } */
.olive{
    height: 42vw;
    width: 55vw;
    margin-top: 41vw;
    margin-left: 22.5vw;
    position: absolute;
    opacity: 0;
}
.hd{
    margin-top: 48vw;
    margin-left: 34vw;
    font-size: 5vw;
    color: #0cb0eb;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0;
    /* position: static; */
    /* border-color: blue;
   border-style: solid;
   border-width: 1vw; */
}
.visible{
    visibility:visible; opacity:1
}
.divide{
  position:static;
  height: 20px;
  /* border-color: red;
   border-style: solid;
   border-width: 1vw; */
}
/* =========================================================================================================== */


  
  
  
  
  
  
  