.close{
    border-color: red;
    background-color: red;
    padding: 1vw;
    position:absolute;
    left: 40vw;
    bottom: 5vw;
    border-radius: 10%;
    color: white;
    /* height: 3vw; */
}
.mod{
   border-radius: 2%;
   /* background-color: #2472a4; */
   background: linear-gradient(0.2deg, rgb(51, 204, 255) 4.8%, rgb(51, 102, 255) 85.5%);
}

.agendatextpop{
    position: absolute;
    color: white;
    font-family: "Montserrat, sans-serif";
    left: 0;
    top: 0;
    margin-top: 15vw;
    padding: 2vw;
    margin-left: 2vw;
    font-size: 2vw;
    width:45vw ;
    border-color: yellow;
    border-style: dashed;
    border-width: 0.3vw; 
 }
 .agendapop{
    position: absolute;
    color: white ;
    font-family: "Montserrat, sans-serif";
    left: 17vw;
    top: 0;
    margin-top: 6vw;
    /* padding-left: 4vw; */
    margin-left: 2vw;
    font-size: 4vw;
    width:10vw ;
    /* border-color: black;
    border-style: solid;
    border-width: 0.1vw;  */
 }
 .popbox{
    display: flex;
 }
 .ebi{
    position: absolute;
    right: 8vw;
    height: 20vw;
    /* margin-left: 20vw; */
 }
 .ebn{
    position: absolute;
    font-size: 2vw;
    right: 12vw;
    bottom: 10vw;
 }


 @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
 figure {
   left: 50vw;
 }
figure.snip1113 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  
}

figure.snip1113 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

figure.snip1113 img {
  max-width: 65%;
  margin: 40px auto;
  display: block;
  position: relative;
  border: 3px solid #666666;
  padding: 15px 15px 85px 15px;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

figure.snip1113 figcaption {
  position: absolute;
  height: 120px;
  bottom: 0px;
  left: 0;
  right: 0;
  display: block;
}

figure.snip1113 h3 {
  background-color: #ffffff;
  color: #000000;
  font-size: 1.7em;
  width: 100%;
  padding: 5px 12px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
}

figure.snip1113 h3 span {
  font-weight: 800;
}

figure.snip1113 h4 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: -1px;
  opacity: 0.6;
  font-size: 1.1em;
}

figure.snip1113.blue img {
  border-color: #2472a4;
}

figure.snip1113.blue h3,
figure.snip1113.blue h4 {
  color: #2472a4;
}


/* Demo purposes only */
/* html {
  height: 100%;
}
body {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  height: 100%;
} */